@import "./abstracts/variables";
@import "./base/typography";
@import "./base/animations";
@import "./layout/navbar";
@import "./layout/slider";
@import "./pages/home";
@import "./pages/about";
@import "./pages/work";
@import "./pages/contact";
@import "./components/buttons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
}

body {
}

.site {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: initial;
  @media screen and (min-height: 800px) {
    overflow-y: hidden;
  }
  @media screen and (max-width: 768px) {
    overflow-y: scroll;
    height: 95vh;
  }
}

router-view {
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}
