.slider_arrow {
  align-self: center;
  height: 4rem;
  width: 4rem;
  margin: 2rem;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    margin: 0 2rem;
  }
}

.slider-arrow__img {
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.5;
  }
  @media screen and (max-width: 768px) {
    width: 1rem;
    height: auto;
  }
}
