.button {
  background-color: $second-color;
  border: none;
  border-radius: 50px;
  color: white;
  font-family: $title-font;
  font-size: 1.5rem;
  padding: 5px 50px;
  cursor: pointer;
  &--hire {
    margin-top: 20px;
    opacity: 0;
    text-decoration: none;
    &:hover {
      background-color: darken($second-color, 15%);
    }
  }
  &--contact-form {
    color: white;
    margin-top: 1rem;
    background-color: $third-color;
    &:hover {
      background-color: darken($third-color, 15%);
    }
    &--err {
      content: 'Error';
      background-color: $fourth-color;
      &:hover {
        background-color: $fourth-color;
      }
    }
    &--sent {
      background-color: $second-color;
      &:hover {
        background-color: $second-color;
      }
    }
  }
}
